<!DOCTYPE html>
<html>
    <head>
        <title>Pomoc humanitarna</title>
        <style>
            body{
                font-size: 35px;
            }
            td{
                border: 1px solid black;
            }
            input.check{
                width: 40px;
                height: 40px
            }
            input.num{
                font-size: 35px;
            }
            button{
                font-size: 35px;
            }
            select{
                font-size: 35px;
            }
        </style>
    </head>
    <body>
        <header>
            <h2>System weryfikacji pomocy humanitarnej dla uchodźców.</h2>
        </header>
        <article>
            <h2>Potwierdź wydanie dla numeru <%= numer %>:</h2>
            <%if(wydane[0] == 1){%>
                <h4>Obiadu</h4>
            <%}%>
            <%if(wydane[1] == 1){%>
                <h4>Żywności</h4>
            <%}%>
            <%if(wydane[2] == 1){%>
                <h4>Chemii</h4>
            <%}%>
            <%if(wydane[3] == 1){%>
                <h4>Innych pomocy</h4>
            <%}%>
            
            <form action="/potwierdz" method="GET">
                <input type="hidden" name="numer" value="<%= numer%>">
                <button type="submit">Potwierdź</button>
            </form>
        </article>
        <footer>
           <br/> Autor: OSP Mińsk Mazowiecki, Kamil Wojciechowski
        </footer>
    </body>
</html>