<!DOCTYPE html>
<html>
    <head>
        <title>Pomoc humanitarna</title>
        <style>
            body{
                font-size: 35px;
            }
            td{
                border: 1px solid black;
            }
            input.check{
                width: 40px;
                height: 40px
            }
            input.num{
                font-size: 35px;
            }
            button{
                font-size: 35px;
            }
            select{
                font-size: 35px;
            }
        </style>
    </head>
    <body>
        <header>
            <h2>System weryfikacji pomocy humanitarnej dla uchodźców.</h2>
        </header>
        <article>
            <h2>Potwierdź wydanie dla numeru <%= numer %>:</h2>
            <%if(wydane[0] >= 1){%>
                <h4>Żywności</h4>
            <%}%>
            <%if(wydane[1] >= 1){%>
                <h5>Mleka</h5>
            <%}%>
            <%if(wydane[2] >= 1){%>
                <h5>Oleju</h5>
            <%}%>
            <%if(wydane[3] >= 1){%>
                <h5>Mąki</h5>
            <%}%>
            <%if(wydane[4] >= 1){%>
                <h5>Cukru</h5>
            <%}%>
            <%if(wydane[5] >= 1){%>
                <h4>Chemii</h4>
            <%}%>
            <%if(wydane[6] >= 1){%>
                <h4>Innych pomocy</h4>
            <%}%>
            <form action="/wydaj" method="GET">
                Następny numer: <input class="num" type="text" name="numer" value="<%= numer%>"><br/>
                Należy podać pełny numer, np. 0035, 0007, 0492<br/>
                <%if(wydane[0] >= 1){%>
                    <input type="hidden" name="zywnosc" value="on">
                <%}%>
                <%if(wydane[1] >= 1){%>
                    <input type="hidden" name="mleko" value="on">
                <%}%>
                <%if(wydane[2] >= 1){%>
                    <input type="hidden" name="olej" value="on">
                <%}%>
                <%if(wydane[3] >= 1){%>
                    <input type="hidden" name="maka" value="on">
                <%}%>
                <%if(wydane[4] >= 1){%>
                    <input type="hidden" name="cukier" value="on">
                <%}%>
                <%if(wydane[5] >= 1){%>
                    <input type="hidden" name="chemia" value="on">
                <%}%>
                <%if(wydane[6] >= 1){%>
                    <input type="hidden" name="inne" value="on">
                <%}%>
                <button type="submit" name="wydaj" value="on">Wydaj następny</button>
            </form>
            <form action="/potwierdz" method="GET">
                <input type="hidden" name="numer" value="<%= numer%>"><br/>
                <button type="submit">Zakończ wydawanie</button>
            </form>
        </article>
        <footer>
           <br/> Autor: OSP Mińsk Mazowiecki, Kamil Wojciechowski
        </footer>
    </body>
</html>